@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Poppins:wght@400;500;600&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');
* {
    letter-spacing: .14em;
}

body {
    margin: 0;
    padding-top: 100px;
    background-color: white;
    position: relative;
}



.nav-item a {
    font-family: 'Nanum Myeongjo', serif;

}

nav .navbar-nav .nav-link {
    color: black !important;
}

header .logo {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.logo img{
    width: 150px;
}

@media (min-width:768px){
    .logo img{
        width: 122px;
    }
}
header .navbar {
    padding: 30px 25px;
}

.main-menu {
    transform: translateY(20%);
}

.font {
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
}
header{
    
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 50;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.navbar {
    background-color: white;
}

@media (min-width:768px) {
    .font {
        font-family: 'Nanum Myeongjo', serif;
        font-size: initial;
        font-weight: 700;
    }
}

nav a {
    color: black;
}

/* The Mobile Menu that appears on click */
.mobile-menu {
    width: 100%;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    min-height: 100%;
    height: 100%;
    background: white;
    margin: 0;
    position: fixed;
    display: none;
}

@media (min-width: 768px) {
    .mobile-menu {
        float: right;
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
        min-height: auto;
        height: auto;
        padding: 0;
        width: auto;
        background: transparent;
        display: block;
    }


}

.mobile-menu.open {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

/* Main Navigation in header for desktop */


@media (min-width: 768px) {
    .main-menu {
        width: 600px;
        margin: 0 auto;
    }
}

.main-menu__item {
    padding: 0;
    display: block;
    position: relative;
}

@media (min-width: 768px) {
    .main-menu__item {
        float: left;
        display: block;
    }
}

.main-menu__link {
    border-bottom: 0;
    color: white;
    font: bold 15px/15px Arial;
    display: block;
    padding: 20px;
    position: relative;
}

@media (min-width: 768px) {
    .main-menu__link {
        float: left;
        color: black;
    }
}

.main-menu__link:hover,
.main-menu__link:focus,
.main-menu__link:active {
    border-bottom: 0;
    background: black;
    color: white;
}

/* Hamburger Button - Animation courtesy of https://codepen.io/designcouch/pen/Atyop - more examples in this link */
.open-button {
    width: 30px;
    height: 25px;
    transform: rotate(0deg);
    transition: 1s ease-in-out;
    cursor: pointer;
    border-bottom: 0;
    right: 100px;
    z-index: 9999;
    border-bottom: 0;
}

@media (min-width: 768px) {
    .open-button {
        display: none;
    }
}

.open-button:hover {
    border-bottom: 0;
}

.open-button span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.open-button span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.open-button span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
}

.open-button span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
}

.open-button.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.open-button.open span:nth-child(2) {
    width: 0;
    transition: all 0.7s ease;
}

.open-button.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
    left: 8px;
}

/* Header styling Ends*/


/*main index content starts*/

#WS-one {
    background-image: url(assets/Illustration/AppDesign2.jpg);

}

#WS-one,
#WS-two,
#WS-four,
#WS-five,
#WS-seven,
#WS-eight,
#WS-ten,
#WS-eleven {
    height: 516px;
}


.WorkSample {
    background-size: cover;
    background-position: center;
}

@media (min-width:992px) {
    .WorkSample {
        background-position: initial;
    }
}

#WS-two {
    background-image: url(assets/Illustration/Cartoon2.jpg);
}

#WS-three {
    background-image: url(assets/Photo/Photo2.JPG);
    background-position: initial;
}

#WS-three,
#WS-six,
#WS-nine,
#WS-twelve {
    height: 375px;
}

#WS-four {
    background-image: url(assets/Photoshop/Fashion\ Collage2.jpg);
}

#WS-five {
    background-image: url(assets/Photoshop/Poster2.jpg);
}

#WS-six {
    background-image: url(assets/Photo/IMG_8308.JPG);
}

#WS-seven {
    background-image: url(assets/WebDesign/BlueNovation.png);
}

#WS-eight {
    background-image: url(assets/WebDesign/LookShop.jpg);
}

footer a {
    text-decoration: underline;
}

footer {
    font-family: 'Archivo', sans-serif;
    font-size: small;
    margin-top: 100px;
    font-weight: 600;
}



.infoContainer{
    line-height: 30px;
}
.infoContainer span {
    line-height: 40px;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
}
.infoContainer #info-head {
    margin: 25px auto 80px;
    font-weight: 700;
    font-size: 31px;
}
@media (min-width:768px) {
    
    #info-head{
        margin: 160px auto 120px;
    }
    
}

#info-text {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 24px;
    line-height: 39px;
}

#info-text p{
    text-indent: 50px;
}

/*sticky footer starts*/

html{
    height: 100%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

/*sticky footer ends*/

#illustration-container-one p{
    font-size: 14px;
}

#illustration-container-one span{
    font-size: 28px;
}

.illustration-container .card{
    border: none;
}

 #other-pro-1{
    background-image: url(assets/Photo/Photo2.JPG);
}

.otherProjects{
    height: 150px;
    background-size: cover;
}

#illustration-bottom-container #other-pro-2{
    background-image: url(assets/Photoshop/Fashion\ Collage2.jpg);
}

#illustration-bottom-container #other-pro-3{
    background-image: url(assets/WebDesign/BlueNovation\ copy.jpg);
}

#illustration-bottom-container #other-pro-4{
    background-image: url(assets/WebDesign/FlagWorks.png);
}

#illustration-bottom-container .row{
justify-content: space-between;
}